@font-face {
    font-family: 'GeneralSans';
    src: url('GeneralSans-Variable.eot');
    src: local('GeneralSans Variable'), local('GeneralSans-Variable'),
        url('GeneralSans-Variable.eot?#iefix') format('embedded-opentype'),
        url('GeneralSans-Variable.woff2') format('woff2'),
        url('GeneralSans-Variable.woff') format('woff'),
        url('GeneralSans-Variable.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('GeneralSans-VariableItalic.eot');
    src: local('GeneralSans Variable Italic'), local('GeneralSans-VariableItalic'),
        url('GeneralSans-VariableItalic.eot?#iefix') format('embedded-opentype'),
        url('GeneralSans-VariableItalic.woff2') format('woff2'),
        url('GeneralSans-VariableItalic.woff') format('woff'),
        url('GeneralSans-VariableItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

